﻿@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h1>Giới thiệu</h1>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">BẢN THÂN</a></li>
            <li><a href="~/gioi-thieu-nhom">NHÓM</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT &emsp;</th>
            <th>MSSV &emsp;</th>
            <th>&emsp;Họ tên</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1822040542</td>
                    <td>&emsp;Huỳnh Nhựt Hào</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>1822030230</td>
                    <td>&emsp;Vũ Thành Tâm</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>1822950228</td>
                    <td>&emsp;Phạm Anh Tuấn</td>
                </tr>

            </tbody>
        </table>
    </article>
</section>

<footer>
    <p style="font-size:24px">Copyright &copy;Vũ Thành Tâm - @DateTime.Now.Year</p>
</footer>