﻿@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1822040542</td>
                    <td>Huỳnh Nhựt Hào</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>1822030230</td>
                    <td>Vũ Thành Tâm</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>1822950228</td>
                    <td>Phạm Anh Tuấng</td>
                </tr>            
            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>Copyright &copy; Vu Thanh Tam - @DateTime.Now.Year</p>
</footer>