@model TacGia

<div>
    Mã tác giả: <b>@Model.MaTacGia</b><br />
    Tên tác giả: <b>@Model.TenTacGia</b><br />
    Quốc tịch: <b>@Model.QuocTich</b><br />
    Năm sinh: <b>@Model.NamSinh.ToString("yyyy-MM-dd")</b><br />
</div>
